.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  .editIcon {
    margin: 0 0 0 9px;
    border: 1px solid #767676;
    padding: 6px 6px;
    background-color: lightgoldenrodyellow;
    border-radius: 5px;
  }

  .editIcon:hover {
    font-weight: 800;
    cursor: pointer;
  }

  .ratingOps > ul {
    list-style-type: none;
  }

  .ratingOps > ul > li {
    margin-bottom: 30px;
  }

  .ratingOps > ul > li:hover {
    font-weight: bold;
    cursor: pointer;
  }