.example-section {
    margin: 12px 0;
  }

.editIcon {
    margin: 0 0 0 9px;
    border: 1px solid #767676;
    padding: 6px 6px;
    background-color: lightgoldenrodyellow;
    border-radius: 5px;
  }

  .editIcon:hover {
    font-weight: 800;
    cursor: pointer;
  }